@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body {
  background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
  background-size: cover;
  -webkit-animation: slidein 100s;
  animation: slidein 100s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }

  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

@keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }

  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}

.center h1 {
  text-align: center;
  color: white;
  font-family: 'Source Code Pro', monospace;
  text-transform: uppercase;
}

nav {
  background-color: rgba(255, 255, 255, 0.397);
  padding-bottom: 0.2%;
  padding-top: 0.2%;
  border-bottom: outset 1px;
  border-color: rgba(255, 255, 255, 0.397);
  margin-bottom: 2%;
  margin-top: -7px;
  margin-left: -7px;
  margin-right: -7px;
}

.left {
  text-align: left;
  display: inline-block;
  text-decoration-line: none;
  margin-right: 2%;
  position: inherit;
  transition: transform 0.7s;
}

.left:hover {
  transform: scale(1.2);
}

.nav-link {
  text-decoration: none;
  color: rgb(65, 65, 65);
  font-weight: 1000;
}

.child {
  display: grid;
  place-content: center;
}