.center {
    color: rgb(65, 65, 65);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    place-content: center;
    width: 300px;
    border: 4px outset rgba(255, 255, 255, 0.397);
    border-radius: 25px;
    margin-top: 10%;
    text-align: center;
}

.login {
    text-decoration: none;
    border-radius: 25px;
    border: 2px inset rgba(255, 255, 255, 0.397);
    height: 25px;
    width: 200px;
    background-color: transparent;
    margin-bottom: 15px;
    transition: transform 0.5s;
}

.loginlabel {
    font-weight: 600;
    color: rgb(65, 65, 65);
    margin-bottom: 2%;
}

.btn {
    background-color: transparent;
    border: 2px solid rgb(65, 65, 65);
    border-radius: 25px;
    color: rgb(65, 65, 65);
    font-weight: 900;
    width: 209px;
    height: 32px;
    margin-top: 10%;
    margin-bottom: 20%;
    transition: transform 0.5s;

}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.397);
    transform: scale(1.15);
}

.login:hover {
    background-color: rgba(255, 255, 255, 0.397);
    transform: scale(1.15);
}