.imgcontainer {
    background-color: rgba(255, 255, 255, 0.397);
    border-radius: 25px;
    border: outset rgba(255, 255, 255, 0.397);
    display: grid;
    justify-content: center;
}

.img {
    margin: 20px;
    transition: 2s;
}

.img:hover {
    transform: scale(2);
}

.container {
    justify-content: center;
    margin-top: -15px;
    color: rgb(65, 65, 65);
    text-align: center;
}

.h1 {
    background-color: rgba(255, 255, 255, 0.397);
    margin-bottom: 20px;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 25px;
    border: outset rgba(255, 255, 255, 0.397);
}

@media (min-width: 900px) {
    .imgcontainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1500px) {
    .imgcontainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 2000px) {
    .imgcontainer {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 2400px) {
    .imgcontainer {
        grid-template-columns: repeat(5, 1fr);
    }
}